numpy==1.23.5
scipy==1.9.3
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.8.2
seaborn==0.12.2
joblib==1.5.1
kedro[jupyter]==0.19.12
kedro-viz>=6.3.4
kedro-datasets[pandas-csvdataset,pandas-exceldataset,pandas-parquetdataset,plotly-plotlydataset,plotly-jsondataset,matplotlib-matplotlibwriter,pandas.CSVDataSet,spark.SparkDataSet]>=3.0
ipython>=8.10
jupyterlab>=3.0
notebook
ipywidgets==8.1.7
cryptography==45.0.3
filelock==3.18.0
protobuf==6.31.1
pyOpenSSL==25.1.0
redis==6.2.0
setuptools>=65.0
pyspark==3.3.1
ipykernel
